CONFIG_VARS = {
    "DB_USER" : "",
    "DB_PW" : "",
    "DB_HOST" : "localhost",
    "DB_NAME" : "sms_fortune_cookie",

    "ADMIN_USER" : "admin",
    "ADMIN_PASS" : "something-secret",

    "SECRET_KEY" : "another-secret-thing",

    # find this at https://www.twilio.com/console
    "TWILIO_ACCOUNT_SID" : "",
    "TWILIO_AUTH_TOKEN" : "",
    # this is the phone number you want to text from, e.g. '+12345678910'
    "TWILIO_PHONE_NO" : "",

    # set this to True while in development, False when live
    "DEBUG" : False
}
