{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Fortune Cookie Swap</h1>
      <p><a href="{{ url_for('review') }}">Review responses</a></p>
      <p><a href="{{ url_for('reviewtrash') }}">See deleted responses</a></p>
      <p><a href="{{ url_for('add_fortune') }}">Manually add fortunes</a></p>
      <p><a href="{{ url_for('respond') }}">Twilio endpoint</a></p>
    </div>
  </div>
</div>
{% endblock %}
