{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>review queue</h1>
      <table class="table table-condensed small">
        <thead>
          <tr><th>Answer</th><th>Meta</th><th class="col-xs-3"></th></tr>
        </thead>
        <tbody>
          {% for ans in review_queue %}
          <tr class="bg-info">
            <td>{{ ans.answer_text }}</td>
            <td class="small text-muted">
              {{ ans.from_number }}<br/>
              {{ ans.dt.strftime('%m/%d %H:%m') }}
            </td>
            <td class="text-right">
              <div class="btn-group" role="group">
                <a class="btn btn-success btn-sm" href="/approve/{{ ans.id }}">
                  <i class="fa fa-fw fa-check"></i>
                </a>
                <a class="btn btn-danger btn-sm" href="/disapprove/{{ ans.id }}">
                  <i class="fa fa-fw fa-times"></i>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <br/><br/>

      <h2>good to go</h2>

      <table class="table table-condensed small">
        <thead>
          <tr><th>Answer</th><th>Meta</th><th></th></tr>
        </thead>
        <tbody>
          {% for ans in approved %}
          <tr>
            <td>{{ ans.answer_text }}</td>
            <td class="small text-muted">
              {{ ans.from_number }}<br/>
              {{ ans.dt.strftime('%m/%d %H:%m') }}
            </td>
            <td class="text-right">
              <a class="btn btn-default btn-sm" href="/disapprove/{{ ans.id }}"><i class="fa fa-fw fa-times"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}
